<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>osf</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>osf.icns</string>
            <key>CFBundleTypeName</key>
            <string>Ori Studio Project</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.zacharymarion.oristudio.project</string>
            </array>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.json</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Ori Studio Project</string>
            <key>UTTypeIconFile</key>
            <string>osf.icns</string>
            <key>UTTypeIdentifier</key>
            <string>com.zacharymarion.oristudio.project</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>osf</string>
                </array>
                <key>public.mime-type</key>
                <string>application/vnd.oristudio.project+json</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
